body {
  background-color: #444444;
  font-family: sans-serif;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

.top-bar {
  box-sizing: border-box;
  height: 100px;
  width: 864px;
  padding: 10px 0;
  margin: 0 auto;
}

.logo-container {
  box-sizing: border-box;
  display: block;
  float: left;
  width: 60px;
  height: 100%;
  animation: logo-bounce 2s linear 0s 2 alternate none running;
}


@keyframes logo-bounce {
  0% {
    transform: translate(0px, 0px);
  }
  15% {
    transform: translate(15px, -60px);
    height: 80px
  }
  30% {
    transform: translate(35px, 0px);
    height: 45px;
  }
  40% {
    transform: translate(60px, -60px);
    height: 80px;
  }
  55% {
    transform: translate(100px, 0px);
    height: 45px;
  }
  65% {
    transform: translate(140px, -60px);
    height: 80px;
  }
  80% {
    transform: translate(190px, 0px);
    height: 45px;
  }
  90% {
    transform: translate(250px, -60px);
    height: 80px;
  }
  100% {
    transform: translate(270px, 30px);
    height: 45px;
  }
}

.logo-title h1 {
  box-sizing: border-box;
  display: block;
  float: left;
  height: 100%;
  padding-top: 42px;
  color: #c9c9c9;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  font-size: 34px;
}

.time-bar {
  display: block;
  width: 864px;
  margin: 0 auto;
  border: 1px solid #a6a6a6;
  background-color: #a6a6a6;
}

.time-bar-cell {
  display: block;
  float: left;
  width: 50px;
  height: 10px;
  box-sizing: border-box;
  margin: 2px;
  background-color: #424242;
  border-radius: 15%;
}

.light {
  background-color: #99ff26;
}

.grid-container {
  display: block;
  margin: 0 auto;
  width: 864px;
  border: 1px solid #a6a6a6;
}

.filled-grid {
  height: 100%;
  width: 100%;
  background-color: #a6a6a6;
}


.cell {
  display: block;
  float: left;
  width: 50px;
  height: 20px;
  box-sizing: border-box;
  margin: 2px;
  background-color: #cccccc;
  border-radius:15%;
}

.cell:hover {
  background-color: #fdffcc;
  cursor: pointer;
}

.active {
  background-color: #49e9ff;
}
.active:hover {
  background-color: #49e9ff;
}

.hit {
  background-color: #b5f6ff;
}

.drum-container {
  display: block;
  margin: 0 auto;
  width: 864px;
  border: 1px solid #a6a6a6;
}

.filled-drum-grid {
  height: 100%;
  width: 100%;
  background-color: #a6a6a6;
}

.drum-cell {
  display: block;
  float: left;
  width: 50px;
  height: 20px;
  box-sizing: border-box;
  margin: 2px;
  background-color: #424242;
  border-radius: 8%;
}

.drum-cell:hover {
  background-color: #fdffcc;
  cursor: pointer;
}

.drum-active {
  background-color: #75ff56;
}
.drum-active:hover {
  background-color: #75ff56;
}

.drum-hit {
  background-color: #c2ffb5;
}

.panel {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
	transition: visibility 0s 0.6s;
  background: rgba(0, 0, 0, 0.6);
}

.panel.is-visible {
	visibility: visible;
	transition: visibility 0s 0s;
}

.panel-header {
  display: block;
  z-index: 2;
  background: white;
	position: fixed;
  right: 0;
	top: -50px;
	width: 50%;
	height: 50px;
	transition: top 0.3s 0s;
}

.is-visible .panel-header {
	top: 0;
	transition: top 0.3s 0.3s;
}

.panel-container {
  background: #d8ffe7;
  z-index: 1;
	position: fixed;
	width: 50%;
	height: 100%;
	top: 0;
	right: 0;

	transition-property: transform;
	transition-duration: 0.3s;
	transition-delay: 0.3s;

 	transform: translate3d(100%, 0, 0);
}

.is-visible .panel-container {
	transform: translate3d(0, 0, 0);
	transition-delay: 0s;
}

.panel-header h4 {
  height: auto;
  padding: 10px;
  color: grey;
  font-size: 28px;
  display: block;
  float: left;
  font-family: sans-serif;
}

.close-container {
  box-sizing: border-box;
  display: block;
  float: right;
  width: 50px;
  height: 100%;
  transition: background-color 100ms ease-in-out;
}
.panel-header a {
  text-decoration: none;
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  font-family: sans-serif;
  font-size: 40px;
  color: grey;
  text-align: center;
  transition: transform 300ms ease-in-out;
}

.panel-header a:hover {
  color: white;
  transform: rotate(180deg);
}

.close-container:hover {
  opacity: 0.8;
  background-color: grey;
}

.panel-content {
  color: #424242;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 70px;
  padding-right: 5%;
  padding-bottom: 70px;
  padding-left: 5%;
  overflow: auto;
  box-sizing: border-box;
  font-size: 18px;
  font-family: sans-serif;
}

body.no-scroll {
  overflow: hidden;
}

footer {
  display: block;
  height: 100px;
}
